[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "fast-async"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
httpx = "*"
pydantic = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
aiomysql = "*"
python-dotenv = "*"
aioredis = "*"
fastapi-cache2 = {extras = ["redis"], version = "*"}

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.10"
